{{!-- main layout for all pages --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
     <header>
    <h1>Tech Blog
    <nav>
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>

{{!-- displays a link to login if user is not logged in OR displays a link to logout if user is logged in --}}
    {{#if logged_in}}
    <a href="/api/users/logout">Logout</a>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
    
    
  </nav></h1>
</header>




  <main>
    <div class="blog">
      {{{body}}}
    </div>
  </main>
  

</body>
    
</body>
</html>