<h1>dashboard</h1>
<button href="/dashboard/new-post">Add Post</button>
<a href="/dashboard/new-post">add post</a>
<p> welcome {{user_id.name}}</p>
 


<div class="posts list-group">
  {{#each posts}}
    <a class="list-item flex-row justify-space-between" href="/dashboard/edit/{{id}}">
      <span>{{title}}</span>
      <span>{{format_date createdAt}}</span>
    </a>
  {{/each}}
</div>

<script src="/js/dash.js"></script>