{{!-- body of page with the 'edit post' form --}}
<div id="post-box">
  
  <h2>Edit Post</h2>
    <input type="hidden" id="old-post" name="post-id" post-id="{{post.id}}" value="{{post.id}}" />

    <input type="text" id="new-post-title" name="post-title" value="{{post.title}}" />

    <input type="text" id="new-post-text" value="{{post.post_text}}"/>
     
</div>
<button id="updateBtn">Update</button>

    <button id="deleteBtn">Delete</button>

<script src="/js/edit.js"></script>