<div id="login">
    
    <h3>Login</h3>
<input placeholder="email" id="email-login" />
<input placeholder="password" id="password-login"/>

<button id="loginBtn" type="submit"> Login</button>

<h3>Sign Up</h3>
<input placeholder="username" id="name-signup" />
<input placeholder="email@email.com" id="email-signup"/>
<input placeholder="password" id="password-signup"/>

<button id="signupBtn" type="submit">Sign up</button>

</div>

<script src="/js/public.js"></script>