<div id="login">
    <h3>Login</h3>
<input placeholder="username" id="username" />
<input placeholder="password" id="password"/>

<button id="loginBtn"> Login</button>

<h3>Sign Up</h3>
<input placeholder="username" id="username" />
<input placeholder="email@email.com" id="email"/>
<input placeholder="password" id="password"/>

<button id="signupBtn">Sign up</button>
</div>