{{!-- body of the login/sign up form page --}}

<div id="login">
    
    <h3>Login</h3>
<input placeholder="email" id="email-login" />
<input placeholder="password" type="password" id="password-login"/>

<button id="loginBtn" type="submit"> Login</button>

<h3>Sign Up</h3>
<p class="signupinfo">username must have at least 6 characters.</p>
<input placeholder="username" id="name-signup" />
{{!-- <p class="signupinfo">username must have at least 6 characters.</p> --}}
<input placeholder="email@email.com" id="email-signup"/>
<p class="signupinfo">password must have at least 6 characters.</p>
<input placeholder="password" type="password" id="password-signup"/>
{{!-- <p class="signupinfo">password must have at least 6 characters.</p> --}}

<button id="signupBtn" type="submit">Sign up</button>

</div>

<script src="/js/public.js"></script>