<h2>new post form here</h2>

<div id="post-box">
    
    <h3>New Post</h3>
<input placeholder="title" id="new-post-title" />
<input placeholder="post text" id="new-post-text"/>

<button id="createPost" type="submit"> Create Post</button>