body{ 
    /* width: 100vw; */
    /* align-content: center; */
    /* flex-direction: column; */
    margin: 0;
    padding: 0;
    border:0;
}

header {
    display: flex;
    /* align-self: flex; */
    background-color: rgb(40, 68, 68);
    width: 100%;
    height: 140px;
    flex-direction: column;
    align-items: center;
    /* align-items: start; */
    text-align: center;
    
}

header h1 {
    font-size: 48px;
    color: aliceblue;
    padding:0;
    margin-top: 10px;
    border: 0;
    
}

nav{
    padding:0;
    margin:0;
    border:0;
}

nav a{
    font-family: monospace;
    font-size: 16px;
    color: white;
}

nav a:hover{
    color: rgb(65, 143, 143)
}

#welcome {
    font-family: monospace;
    font-size: 24px;
}

main{
    display: flex;
    padding-top: 40px;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

#login {
    display: flex;
    width: 300px;
    height: 400px;
    text-align: center;
    flex-direction: column;
    border: 1px solid gray;
}

#login input {
    align-self: center;
    width: 150px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

#login h3 {
    padding-top: 10px;
}

#login button {
    width: 65px;
    align-self: center;
}

.signupinfo {
    font-size: 10px;
    float: right;
    color: gray;
    padding: 0;
    margin: 0;
    border: 0;
}

#signupBtn {
    margin-top: 4px;
}

#post-box {
    display: flex;
    width: 500px;
    height: 300px;
    text-align: center;
    flex-direction: column;
    border: 1px solid gray;
}

#post-box h3 {
    padding-top: 10px;
}

#post-box input {
    align-self: center;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

#post-box button {
    width: 95px;
    align-self: center;
    margin-bottom: 15px;
}

#new-post-title {
    width: 350px;
}

#new-post-text {
    width: 350px;
    height:230px;
    flex-wrap: wrap;
}

#single-post {
    display: flex;
    align-self: center;
    width: 50vw;
    text-align: center;
    flex-direction: column;
    border: 2px solid gray;
    margin-bottom: 20px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.cardhead {
    align-content: flex-start;
    background-color: rgb(104, 175, 104);
    height: 8vh;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

.cardhead a {
    color: white;
    font-family:monospace;
}

.cardhead a:hover{
    color: darkslategray;
}

.cardhead h2 {
    padding-bottom: 15px;
}

#post-info {
    font-size: 11px;
    float: right;
    margin-right: 15px;
    flex-direction: column;
}

#new-comment-form {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 20px;
}

#commentBtn {
    width:55px;
    text-align: center;
    float: right;
    align-self: flex-end;
    margin-top: 5px;
}

.card-comment{
    flex-direction: column;
    align-self: center;
    text-align: center;
}

#user-comment {
    width: 50vw;
    flex-direction: column;
    border-bottom: .5px solid gray;
    margin-bottom: 10px;
    padding: 0;
}

#user-comment-info {
    width: 50vw;
    height: 25px;
    text-align: left;
    background-color:rgb(40, 68, 68);
    color: whitesmoke;
    align-self: flex-start;
    text-indent: 20px;
    font-size: 22px;
    padding-top: 4px;
    padding-bottom: 2px;
}

#comment-date {
    font-size: 11px;
    text-align: right;
}

@media only screen and (max-width: 700px) {
    #single-post {
        display: flex;
        align-self: center;
        width: 90vw;
        text-align: center;
        flex-direction: column;
        border: 2px solid gray;
        margin-bottom: 20px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }

    #user-comment-info {
        width: 90vw;
        height: 25px;
        text-align: left;
        background-color:rgb(40, 68, 68);
        color: whitesmoke;
        align-self: flex-start;
        text-indent: 20px;
        font-size: 22px;
        padding-top: 4px;
        padding-bottom: 2px;
    }

    #user-comment {
        width: 90vw;
        flex-direction: column;
        border-bottom: .5px solid gray;
        margin-bottom: 10px;
        padding: 0;
    }
  }